@import "tailwindcss";
@import "tailwindcss-primeui";
@import '../node_modules/primeicons/primeicons.css';

:root {
		--display-font: Tahoma;
		--default-font: Arial, sans-serif;

		--bg-color-1: var(--p-surface-600);
		--bg-color-2: var(--p-surface-300);
		--bg-color-3: var(--p-surface-800);
		--bg-color-4: var(--p-surface-400);

		--txt-color-1: var(--p-surface-100);
		--txt-color-2: var(--p-surface-300);

		--error-color-900: var(--p-red-900);
		--error-color-500: var(--p-red-500);
		--error-color-100: var(--p-red-100);

		--success-color-900: var(--p-green-900);
		--success-color-500: var(--p-green-500);
		--success-color-100: var(--p-green-100);
		/* --bg-color-1: #333446;
		--bg-color-2: #7F8CAA;
		--bg-color-3: #1E1E1E;
		--bg-color-4: #6B758C;
		--txt-color-1: #EAEFEF;
		--txt-color-2: #B8CFCE;
		--error-color-900: #AF0000;
		--error-color-500: #FF3F3F;
		--error-color-100: #FFB1B1;
		--success-color-900: #007C13; */

		/* FONT SIZE VARS */
		--micro-fs: 12px;
		--caption-fs: 14px;
		--body-sm-fs: 16px;
		--body-md-fs: 18px;
		--body-lg-fs: 20px;
		--subtitle-fs: 24px;
		--heading-sm-fs: 30px;
		--heading-md-fs: 36px;
		--heading-lg-fs: 48px;
		--display-sm-fs: 60px;
		--display-lg-fs: 72px;

		/* --p-toast-width: 22rem !important;
		--p-toast-error-background: color-mix(in srgb,var(--p-red-500),transparent 30%) !important;
		--p-toast-error-color: black !important;
		--p-toast-success-background: color-mix(in srgb,var(--p-green-500),transparent 30%) !important;
		--p-toast-success-color: black !important; */
	}
 

/* RESETS */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  	background-color: var(--bg-color-3);
  	color: var(--p-primary-50);
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

p {
	overflow-wrap: break-word;
}

a { 
	color:inherit;
	text-decoration: none;
}

button{
	/* background-color: transparent; */
	border: none;
	cursor: pointer;
}

ul,ol { 
	list-style-type: none;
	padding: 0
}

html {
	font-family: var(--default-font, 'Tahoma');
	scroll-behavior: smooth;
}

.emphasis{
  color: var(--p-primary-500);
}

.form_classic {
  padding: 1rem 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3dvh;
}
.form-title{
  font: normal normal 600 var(--body-lg-fs) var(--display-font);
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.label_classic{
  font: normal normal 400 var(--body-md-fs) var(--display-font);

}
.input_txt-classic{
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--bg-color-4);
}

.input_txt-classic:user-invalid{
  border: 1px solid var(--error-color-900);
}


.form-error-message{
  color: var(--error-color-900);
  font-size: var(--body-md-fs);
}

.btn_submit-classic{
  color: var(--txt-color-1);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--body-md-fs);
}

.btn_submit-classic:disabled{
  background-color: var(--bg-color-4);
  cursor: not-allowed;
}

.link_classic{
  font: normal normal 400 var(--body-md-fs) var(--display-font);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.entry-heading{
	margin-bottom: 3dvh;
}

.entry-title{
	text-align: center;
    font-size: clamp(var(--heading-md-fs), 6vw, var(--heading-lg-fs));
}
.entry-parag{
	text-align: center;
    font-size: clamp(var(--body-lg-fs), 3vw, var(--heading-sm-fs));
}

.input_txt-classic{ font-size: 3rem}


